<% content_for :head do %>
  
  <%= javascript_include_tag 'advanced' %>
  <%= javascript_include_tag 'wysihtml5-0.4.0pre.min' %>
  <%= javascript_include_tag 'wysihtml5-paperchain' %>
  <script type="text/javascript">
    $(document).ready( function() {

      $(document).tooltip();

      var save = $("#save");

      save.click( function() {
        var text = $('#text').wysihtml5Text();
        $.ajax({
          type: 'POST',
          url: '/link/save',
          data: {
            id: '<%= @link.id %>',
            text: text
          },
          dataType: "JSON"
        }).success(function() {
          $('#save').hide();
          $('#edit').show();
          $('#text').html(text);
        });
      });

      save.hide();

      $( '#edit' ).click( function() {
        $( '#text' ).wysihtml5();
        $(this).hide();
        save.show();
      });


    });
  </script>
<% end %>

<% content_for :header do %>
  <% content_for :banner do %>
    <div class="container_12">
        <div class="grid_3 prev"><% if @prev %><a href="/link/index/<%= @prev.id %>" title="<%= @prev.title %>"><img src="/images/entry-prev.png" /> prev entry</a><% end %></div>
        <div class="grid_6"><h1><%= @link.chain.title %> <img src="/images/entry-start.png" /><img src="/images/entry-mid.png" /><img src="/images/entry-mid-sel.png" /><img src="/images/entry-end.png" /></h1></div>
        <div class="grid_3 next"><% if @next %><a href="/link/index/<%= @next.id %>" title="<%= @next.title %>">next entry</a> <img src="/images/entry-next.png" /><% end %></div>
      </div>
    </div>
  <% end %>
  <%= render :partial => "shared/header" %>
<% end %>

<% content_for :body do %>
  <body id="entryPage">
<% end %>

<div class="container_12">
  <% if @prev %><a href="/link/index/<%= @prev.id %>" title="<%= @prev.title %>"><% end %>
    <div class="goBack grid_2">&nbsp;</div>
  <% if @prev %></a><% end %>

  <div class="entry grid_8">
    <div class="title"><%= @link.title %></div>
    <div class="author"><%= @link.author.penname %></div>
    <div class="line"></div>
    <div id="text"><%= @link.link_text.html_safe %></div>
  </div>
  <div class="grid_2">
    <aside class="sidebar">
      <a id="save" href="#">save</a>
      <a id="edit" href="#">edit</a>
      <p><%= @link.date.to_date().to_formatted_s(:long) %></p>
      <p><%= @wordcount %> words</p>
    </aside>
    <% if @next %><a href="/link/index/<%= @next.id %>" title="<%= @next.title %>"><% end %>
      <div class="goForward">&nbsp;</div>
    <% if @next %></a><% end %>
  </div>

</div>

<div id="wysihtml5-toolbar" style="display: none;">
  <a data-wysihtml5-command="bold">bold</a>
  <a data-wysihtml5-command="italic">italic</a>
</div>

