<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready( function() {

      $('#register-dialog').dialog({
        modal: true,
        autoOpen: false,
        draggable: false,
        resizable: false,
        width: 300,
        buttons: {
          "Register!": function() {
            $('#register_form').submit();
          }
        }
        });

      if( $('#reg_err').length ) {
        $('#register-dialog').dialog('open');
      }

      $('a.register').click( function() {
        $('#register-dialog').dialog('open');
      });

      $(function() {
        $( "input[type=submit]" )
          .button()
          .click(function( event ) {
            $('#login_form').submit();
          });
      });


    });
  </script>
<% end %>

<div id="splash_header" class="container_12">
  <div id="logo" class="grid_10 prefix_1 suffix_1">
    <img id="splash_logo" src="/images/paperchain_big.png" />
  </div>
</div>
<div id="splash_body" class="container_12">
    <!-- <div id="video" class="grid_5 alpha">
      <iframe id="demo_video" src="http://www.youtube.com/embed/A9bUlkcMtlA" frameborder="0" allowfullscreen=""></iframe>
    </div> -->
  <div id="blurb" class="grid_5 prefix_1">
    <div id="banner">
      <div id="description">Paperchain encourages writers to write consistently using the social pressure that only friends can provide.</div>
    </div>
  </div>
  <div id="login" class="grid_4 suffix_2">
    <div id="login_box">
        <div id="login_flash">
          <% if flash[:log_err] %> 
           <h3 id="log_err"> <%= flash[:log_err] %> </h3> <br />
          <% end %> 
        </div>
    <%= form_tag("/author/post_login", :method => "post", :id => "login_form") do %>
      <%= label_tag(:login, "Penname") %> 
      <%= text_field_tag(:penname) %> <br />
      <%= label_tag(:login, "Password") %> 
      <%= password_field_tag(:password) %> <br />
      <%= submit_tag "Log In", :id => "login"%> <br /><br />
      <a href="#" class="register">New to Paperchain?<br />Register Now!</a>
    <% end %>
    </div>
  </div>
</div>

<div id="register-dialog" class="dialog" title="Your first writing assignment...">
  <div id="register_flash">
    <% if flash[:reg_err] %> 
     <h3 id="reg_err"> <%= flash[:reg_err] %> </h3> 
    <% end %> 
  </div>
    <%= form_tag("/author/post_register", :method => "post", :id => "register_form") do %>
      <div class="section">
        <div class="section-left"><%= label_tag(:register, "Penname") %></div>
        <div class="section-right"><%= text_field_tag(:penname) %></div>      
      </div>
      <div class="clear"></div>
      <div class="section">
        <div class="section-left"><%= label_tag(:register, "Password") %></div>
        <div class="section-right"><%= password_field_tag(:password) %></div>  
      </div>
      <div class="clear"></div>
      <div class="section">
        <div class="section-left"><%= label_tag(:register, "Confirm Password") %></div>
        <div class="section-right"><%= password_field_tag(:password_confirmation) %></div>  
      </div>
      <div class="clear"></div>
      <div class="section">
        <div class="section-left"><%= label_tag(:register, "First Name") %></div>
        <div class="section-right"><%= text_field_tag(:first_name) %></div>
      </div>
      <div class="clear"></div>
      <div class="section">
        <div class="section-left"><%= label_tag(:register, "Last Name") %></div>
        <div class="section-right"><%= text_field_tag(:last_name) %></div>      
      </div>
      <div class="clear"></div>
      <div class="section">
        <div class="section-left"><%= label_tag(:register, "Email") %></div>
        <div class="section-right"><%= text_field_tag(:email) %></div>      
      </div>
    <% end %>
</div>
