<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready( function() {

      $('#newchain-dialog').dialog({
        modal: true,
        autoOpen: false,
        draggable: false,
        resizable: false,
        buttons: {
          "Begin!": function() {
            $('#newchain_form').submit();
          }
        }
      });

      $('a.newchain').click( function() {
        $('#newchain-dialog').dialog('open');
      });

      var tip_adjust = 3;

      $('.ends').children('input[type="text"]').focus(function() {
        $(this).parent().children('input[type="radio"]').prop('checked', true);
        $(this).parent().parent().children().children('input[type="radio"]').each( function() {
          if ( $(this).prop('checked') == false ) {
            $(this).parent().children('input[type="text"]').val('');
          }
        });
      });

      $('.chain .tip, .chain .writeTip').bind('mouseenter', function() {
        $(this).animate({
          "padding-left": "+=" + tip_adjust + "px",
          "padding-right": "-=" + tip_adjust + "px"
        }).animate({
          "padding-left": "-=" + tip_adjust + "px",
          "padding-right": "+=" + tip_adjust + "px"
        });
      });

    });
  </script>
<% end %>

<% content_for :banner do %>
  <h2>Next entry for <strong>Daily Project</strong> due at <strong>12:00 PM tomorrow</strong></h2>
  <div class="write"><a href="#">Write!</a></div>
<% end %>


<% if flash[:notice] %> 
    <h2> <%= flash[:notice] %> </h2> 
<% end %> 

<div class="container_12">
  <div class="grid_10 chains">
    <div class="chain">
      <div class="links"><img class="link" src="/images/chain-newchain.png" /></div>
      <div class="tip">
        <div class="left"></div><div class="center"><a href="#" class="newchain">start a new chain!</a></div><div class="right"></div>
      </div>
    </div>
    <% @chains.each do |chain| %>
      <div class="chain">
        <div class="title">NAME o' CHAIN</div>
        <div class="links">

          <img src="/images/chain-start.png" /><% (chain.num_links - 1).times do %><img src="/images/chain-mid.png" /><% end %><img src="/images/chain-new.png" />

        </div>
        <div class="writeTip">
          <div class="left"></div><div class="center"><a href="#">Write!</a></div><div class="right"></div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="grid_2 stats">
    <a href="#">see completed chains</a>
    <div class="statsContainer">
      <span class="title">TOTAL STATS</span>
      <aside class="statsBox">
        <div class="stat">
          <p class="data">7510</p>
          <p class="label">WORD COUNT</p>
        </div>
        <div class="stat">
          <p class="data">85</p>
          <p class="label">TOTAL PAGES</p>
        </div>
      </aside>
    </div>
  </div>
</div>

  <div id="newchain-dialog" title="Make a new chain!">
    <%= form_tag(:action => "create_chain", :id => "newchain_form", :method => "post") do %>
      <%= text_field_tag(:title, nil, :placeholder => "Title") %>
      <div class="section">
        <div class="section-left">Write every:</div>
        <div class="section-right">
          <%= check_box_tag(:day0) %><%= label_tag :day0, "S" %>
          <%= check_box_tag(:day1) %><%= label_tag :day1, "M" %>
          <%= check_box_tag(:day2) %><%= label_tag :day2, "T" %>
          <%= check_box_tag(:day3) %><%= label_tag :day3, "W" %>
          <%= check_box_tag(:day4) %><%= label_tag :day4, "T" %>
          <%= check_box_tag(:day5) %><%= label_tag :day5, "F" %>
          <%= check_box_tag(:day6) %><%= label_tag :day6, "S" %>
        </div>
      </div>
      <div class="clear"></div>
      <div class="section">
        <div class="section-left">Ends:</div>
        <div class="section-right">
          <div class="ends"><%= radio_button_tag :ends, "entries" %> After <%= text_field_tag(:entries, nil, :class => "num") %> entries</div>
          <div class="ends"><%= radio_button_tag :ends, "weeks" %> After <%= text_field_tag(:weeks, nil, :class => "num") %> weeks</div>
          <div class="ends"><%= radio_button_tag :ends, "never" %> Never</div>
        </div>
      </div>
    <% end %>
  </div>
