
<% content_for :header do %>

  <script>
    $(document).ready( function() {

      $('.linkBox').click( function() {
        var lid = $(this).attr('id'); 
        window.location = '/link/index/' + lid;
      });

      $('.newLinkBox').click( function() {
        var lid = $(this).attr('id'); 
        window.location = '/link/create?chain=' + <%= @chain.id %>;
      });

    });
  </script>

  <% content_for :banner do %>
    <div class="container_12">
        <div class="grid_8 prefix_2"><h1><%= @chain.title %></h1></div>
        <div class="grid_2 badges"><% if @chain.authors.length > 1 %><a class="badge" title="Group chain!"><img src='/images/badge-pencil.png'></a><% end %><% if @chain.links.length > 0 %><a class="badge" title="Wrote first entry!"><img src='/images/badge-star.png'></a><% end %></div>
      </div>
    </div>
  <% end %>
  <%= render :partial => "shared/header" %>
<% end %>


<% content_for :body do %>
  <body id="chainPage">
<% end %>

<div class="container_12">
  <div class="grid_2 chains">
    <% @chain.authors.each do |a| %>
      <div class="chain">
      <% @chain.successful_links(a).each_with_index do |s, i| %>
      
        <% if s[:link_id] %>
          <a href="/link/index/<%= s[:link_id] %>" title="<p><%= Link.find( s[:link_id] ).title %></p><p><%= s[:date].to_date.to_formatted_s(:short) %></p><p><%= a.penname %></p>" >
          <% if @successes[i] == @chain.authors.length %><img src='/images/vert-chain-mid-sel.png' /><% else %><img src='/images/vert-chain-mid.png' /><% end %>
          </a>
        <% else %>
          <a title="<p><%= s[:date].to_date.to_formatted_s(:short) %></p><p><%= a.penname %></p>" >
          <img class="fail" src='/images/vert-chain-mid.png' />
          </a>
        <% end %>

      <% end %>
      </a>
      </div>
    <% end %>
  </div>
  <div class="grid_8" id="links">
    
    <div class="newLinkBox"><p>Write a new entry!</p></div>

    <% @chain.links.order("date DESC").each do |l| %>
      <div class="linkBox" id="<%= l.id %>">
        <div class="title"><%= l.title %></div>
        <div class="author"><%= l.author.penname %></div>
        <div class="text"><%= l.link_text.html_safe %></div>
        <div class="date"><%= l.date.to_date.to_formatted_s(:long) %></div>
      </div>
    <% end %>
  </div>
  <div class="grid_2 stats">
    <div class="updates">
      <p>Updates every
      <% if @chain.get_days.length == 7 %>day</p>
      <% else %>
        </p><ul>
        <% @chain.get_days.each do |d| %>
          <li><%= Date::DAYNAMES[d] %></li>
        <% end %>
        </ul>
      <% end %>
    </div>
    <div class="members">
      <span class="title">MEMBERS</span>
      <aside class="membersBox">
        <% @chain.authors.each do |a| %>
          <p title="<%= a.points %> points"><%= a.penname %></p>
        <% end %>
      </aside>
    </div>
    <a href="#">Invite a member!</a><br />
    <%= link_to '[leave this chain]', :controller => 'chain', :action => 'remove_self', :chain => @chain.id %>
  </div>
</div>
