
<% content_for :header do %>

  <script>
    $(document).ready( function() {

      $('.linkBox').click( function() {
        var lid = $(this).attr('id'); 
        window.location = '/link/index/' + lid;
      });

    });
  </script>

  <% content_for :banner do %>
    <div class="container_12">
        <div class="grid_8 prefix_2"><h1><%= @chain.title %></h1></div>
        <div class="grid_2 next">stats/badges</div>
      </div>
    </div>
  <% end %>
  <%= render :partial => "shared/header" %>
<% end %>


<% content_for :body do %>
  <body id="chainPage">
<% end %>

<div class="container_12">
  <div class="grid_2">CHAIN</div>
  <div class="grid_8" id="links">
    <% @chain.links.each do |l| %>
      <div class="linkBox" id="<%= l.id %>">
        <div class="title"><%= l.title %></div>
        <div class="author"><%= l.author.penname %></div>
        <div class="text"><%= l.link_text.html_safe %></div>
        <div class="date"><%= l.date.to_date.to_formatted_s(:long) %></div>
      </div>
    <% end %>
  </div>
  <div class="grid_2 stats">
    <div class="updates">
      <p>Updates every
      <% if @chain.get_days.length == 7 %>day</p>
      <% else %>
        </p><ul>
        <% @chain.get_days.each do |d| %>
          <li><%= d %></li>
        <% end %>
        </ul>
      <% end %>
    </div>
    <div class="members">
      <span class="title">MEMBERS</span>
      <aside class="membersBox">
        <% @chain.authors.each do |a| %>
          <p><%= a.penname %></p>
        <% end %>
      </aside>
    </div>
    <a href="#">Invite a member!</a>
  </div>
</div>
